<!-- Uso el controller MainController, registrado en el módulo getStartedExample1 
     Notar que este template sólo tiene un fragmento de html, los elementos <html>
     y <body> (entre otros), quedan en el layout view (index.html).
     Como ng-route se encarga de indicar qué controlador maneja el template,
     ya no es necesario el atributo ng-controller -->

<div>
    <div>
      <h2>Countdown: {{ countdown }}</h2>
      <h2>Valor de $scope.username: {{ username }}</h2>
      <h2>Ingrese el nombre del usuario a buscar:</h2>
      <form name="searchUser">
        <input type="search" placeholder="username" ng-model="username">
        <!-- Notar que ng-click hace referencia a una función
             (que se definirá dentro del $scope) -->
        <input type="submit" value="Search" ng-click="search()">
      </form>
    </div>
</div>
